/*Conteúdo geral do site*/
*{
    margin: 0;
    border: 0;
    padding: 0;
}
body{
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
}
.index{
    background-image: url('../data/img/index.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/*Início do Carrosseul de indices da bolsa*/
.tag-list{
    margin-top: 2rem;
    width: 100%;
    height: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    overflow: hidden;
}
.inner{
    margin: 0 auto;
    width: fit-content;
    display: flex;
    gap: 1.5rem;
    animation: loop 40s linear infinite;
}
.tag{
    display: flex;
    align-items: center;
    gap: 0 0.2rem;
    color: #e2e8f0;
    font-size: 1rem;
    background-color: #11151a;
    padding: 0.3rem 0.8rem;
    border-radius: 0.4rem;
    box-shadow: 0 0.1rem 0.2rem #00000033,
    0 0.1rem 0.5rem #0000004d,
    0 0.2rem 1.5rem #00000066;
}
div.variacao, div.valor{
    padding: 0.8rem;
}
div.variacao{
    color: #10e094;
}
.fade{
    position: absolute;
    background: linear-gradient(90deg, #1e293b, transparent 30%, 
    transparent 70%, #1e293b);
    inset: 0;
    pointer-events: none;
}
/*Fim do Carrosseul de indices da bolsa*/

/*Início do Conteúdo Central*/
div.conteudo-principal{
    display: flex;
    flex-direction: row;
    padding: 2rem;
}
div.texto-principal{
    width: 40%;
    margin: 5%;
}
h2{
    margin: 4px 0;
    font-size: 24px;
    color: #ffffff;
    background-color: #000000;
}
h1{
    color: #ffffff;
    margin-top: 124px;
    font-size: 50px;
}
h3{
    text-align: center;
    margin-top: 50px;
    color: white;
}
p{
    color: #ffffff;
    margin-top: 24px;
    line-height: 32px;
}
/*Fim do Conteúdo Central*/

/*Início da tela de login*/
div.login{
    width: 40%;
    margin: 5%;
    padding: 2rem;
    color: #e2e8f0;
    border: 1px solid #e2e8f0;
    border-radius: 40px;
    background-color: rgba(34, 5, 251, 0.2);
}
form{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
input{
    margin: 1rem;
    line-height: 1.5rem;
    border-radius: 30px;
}
/*Fim da tela de login*/

footer{
    width: 90%;
    background-color: #000;
    position: relative;
    color: #ffffff;
    padding: 2rem;
    float: left;
}
cite{
    font-size: 20px;
}

@keyframes loop {
    0%{
        transform: translateX(100%);
    }
    25%{
        transform: translateX(50%);
    }
    50%{
        transform: translateX(0%);
    }
    75%{
        transform: translateX(-50%);
    }
    100%{
        transform: translateX(-100%);
    }
}